body{
    background: #ffffff(255, 255, 255);
}
header{
    text-align: center;
    
}
main{text-align: center;
//background: rgb(196, 123, 123);
width:50%;
margin:auto;
}
table
{
    width: 100%;
    max-width: 1000px;
    border: 1px black solid;
    background-color: lightblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px gray;
}

input[type="text"]{width: 100%;}
input[type="password"]{width: 100%;}
input[type="number"]{width: 100%;}
input[type="email"]{width:100%;}
input[type="date"]{width: 100%;}
input[type="time"]{width: 100%;}
input[type="submit"]{width: 40%;background: rgb(33, 150, 243); color: white;}
input[type="reset"]{width: 40%;background: rgb(33, 150, 243); color: white;}
select{width:100%}
.textstyle
{
    color: rgb(0, 0, 0);
    font-size: 50px;
}

@media (max-width:600px){

    header{
        text-align: center;
    }
table{
width:95%;
}

td{
display:block;
width:100%;
text-align:left;
padding:5px 0;
}

tr{
display:block;
margin-bottom:12px;
}

/* inputs full width */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="file"],
select,
textarea{
width:100%;
}

/* textarea height */
textarea{
height:120px;
}

/* radio & checkbox spacing */
input[type="radio"],
input[type="checkbox"]{
width:auto;
margin-right:5px;
}


}