/* Universal Selector */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background:#f5f7fb;
}

/* Header */
header{
    background:#0b1d3a;
    color:white;
    text-align:center;
    padding:20px;
    font-size:30px;
    letter-spacing:2px;
    font-weight:bold;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

/* for two boxes */
.container{
    display:flex;
    padding:20px;
    gap:30px;
}

/* Sidebar */
.sidebar{
    width:200px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.08);
}

.sidebar a{
    display:block;
    text-decoration:none;
    color:#333;
    padding:8px 0;
    transition:0.3s;
}

.sidebar a:hover{
    color:#007bff;
    padding-left:8px;
}

/* Main Content */
.content ul{
    display:grid;
    grid-template-columns:1fr ;
    gap:30px;
    list-style: none;
    padding: 0;
}
.content ul li a{
    display: block;
    background: #0b1d3a;
    color: #d1f1ff;
    padding: 60px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    font-size: 22px;
    transition: 0.3s;

}
.content ul li a:hover{
background: #020617;
}

/* for desktop */
@media (min-width:800px){
.content ul{
    grid-template-columns:repeat(4,1fr);
    margin: 0 auto;
}
}
/*Footer*/
.footer{
    background-color: #0f172a;
    color: white;
    padding: 40px 0 0 0;
    width: 100%;
}

.footer h4{
margin-bottom: 10px;
margin-left:20px;
text-align: center;
}

.footer ul{
    list-style: none;
    padding: 0;
   
}

.footer ul li{
    margin-bottom: 8px;
    //display: inline;
    margin-left:20px;
    text-align: center;
}

.footer ul li a:hover{
color: #60a5fa;
}

.footer-right p{
    margin-left:20px;
    text-align: center;
}
.footer-bottom{
    text-align: center;
    margin-top: 30px;
    padding: 15px 0;
    background-color: #020617;
}


/* Mobile Devices */
@media (max-width: 600px){

    header{
        font-size:20px;
        padding:15px;
    }

    .container{
        flex-direction:column;
        padding:10px;
    }

    .sidebar{
        width:100%;
    }

    .sidebar a{
        padding:10px;
        border-bottom:1px solid #eee;
    }

    .content{
        margin-top:10px;
    }

    .content h2{
        font-size:18px;
    }

    .content li{
        font-size:14px;
    }

    footer{
        font-size:14px;
        padding:10px;
    }
}
